<div class="jumbotron text-center mt-5">
  <h1 class="display-4">{{title}}</h1>
  <a href="/request" class="btn btn-dark btn-lg">Query single post</a>
  <a href="/requests" class="btn btn-dark btn-lg">Query multiple posts</a>
</div>