<h1>response single post from url</h1>
<div class="alert alert-primary mb-3" role="alert">
<p>User id : {{body.userId}} | post id : {{body.id}}<br>
<strong>Title :</strong> {{body.title}}<br>
Content : {{body.body}}</p>
</div>
